Package: com.chikuwa.onehandkey
Name: OneHandKey
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Chikuwa
Author: Chikuwa
Section: Tweaks
